/* Контейнер для бегущей строки */
.line {
    overflow: hidden; /* Скрываем всё, что выходит за пределы контейнера */
    width: 100%; /* Контейнер занимает всю ширину экрана */
    margin: 50px 0; /* Отступы сверху и снизу */
    background-color: antiquewhite; /* Цвет фона контейнера */
    padding: 40px 0; /* Отступы сверху и снизу внутри контейнера */
    display: flex; /* Устанавливаем flexbox для более удобного управления элементами */
}

/* Группа изображений внутри контейнера */
.line__group {
    display: flex; /* Flexbox для выстраивания изображений в строку */
    animation: scroll 20s linear infinite; /* Анимация, которая прокручивает контент */
}

/* Стили для каждого изображения */
.line__elem {
    display: block; /* Блочный элемент */
    height: 40px; /* Высота изображений */
    transition: transform 0.3s ease-in-out; /* Плавная анимация при наведении */
    margin-right: 40px; /* Отступ между изображениями */
}

/* Увеличение изображения при наведении курсора */
.line__elem:hover {
  transform: scale(1.5); /* Увеличение изображения до 1.5 раз */
}

/* Анимация для плавного движения изображений слева направо */
@keyframes scroll {
    0% {
      transform: translateX(0); /* Изображения в начальном положении */
    }
    100% {
      transform: translateX(-100%); /* Изображения уезжают за пределы экрана */
    }
}

/* Остановка анимации при наведении на контейнер */
.line:hover .line__group {
    animation-play-state: paused; /* Останавливаем анимацию при наведении */
}
